// Place all the styles related to the Shoppingcarts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.checkout_div{
    padding-top: 7%;
    padding-left: 10%;
    max-width: 40%;
}